body{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}

.header_box_wrapper{
	margin-top: 1%;
	text-align: center;
}

.header_icons > img{
	padding:0px 15px;
}
.site_button{
	color: black ;
	text-align: center;
	padding: 13px 44px 13px 44px;
	text-decoration: none;
	font-size: 2em;
	font-weight: normal;
	/*margin-left: 93px;*/
}


.site_header{
    padding: 12px;
    text-align: center;

}

 .site_header-nav{
    /*margin-right: 100px;*/
	display: inline-block;
}

.site_header .site_header-nav > a:hover, .site_header-nav > a:visited,.site_header-nav > a:link,.site_header-nav > a:active{
	display: inline-block;
	color: black;
	text-decoration: none;
    font-size: 19px;
    padding: 1.2em 2em ;
}

.site_header .site_header-nav > a.is-active{
	border-bottom: 1px solid #FB414E;
}


.header-title{
	margin-top: 20px;
	text-align: center;
	font-size: 45px;
	color:#0B273F;
	margin-bottom: 5%;
}

.fav_perso1-cap{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5%;


}

.Number-1{
	/*margin-top: 40px;*/
	color:#0B273F;
}


.Number-2{
	margin-top: 40px;
	color:#0B273F;
}

.fav_perso2 > p{
	margin:2px 5%;
}

.fav_perso2-cap{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5%;

}

.fav_perso1 > p{

	margin:2px 5%;
}




.footer_box_wrapper{
	margin-top: 15%;
	text-align: center;
}

.footer_box-title{
    color:#0B273F;
}


@media only screen and (max-width:768px)
{

	.site_button{
	font-size: 2em;
	/*margin-left: 93px;*/
}

    .intoduction_box1-title{
	
    font-size: 2.3em;
   
}
 
 .intoduction_box2-img{
	width:400px;
	height:500px;
}

	

.fav_personalities-b1 > .fav_personalities-b1-img{
	width:300px;
	height:350px;
}

.fav_cities-b1 > .fav_cities-b1-img{
	width:248px;
	height: 350px;

}

.fav_tour-b1 > .fav_tour-b1-img{
	width:248px;
	height:350px;
}
}

@media only screen and (max-width:600px)
{
   .site_button{

	font-size: 2em;
	
}
 


}
